<html>
<body>
<form method="post" action="upload" enctype="multipart/form-data">
    <input type="file" name="fileUploaded">
    <button type="button" id="buttonToListen">okay</button>
</form>
</body>
<script type="module" src="js/test.js">
</script>
</html>