<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<p><%=image%></p>
<img id="img" src="<%= image%>">
<!-- Load TensorFlow.js. This is required to use coco-ssd model. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
<!-- Load the coco-ssd model. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"> </script>

<!-- Place your code in the script tag below. You can also use an external .js file -->
<script>
    // Notice there is no 'import' statement. 'cocoSsd' and 'tf' is
    // available on the index-page because of the script tag above.

    const img = document.getElementById('img');
    // Load the model.
    cocoSsd.load().then(model => {
        // detect objects in the image.
        model.detect(img).then(predictions => {
            let pr =  predictions;

            let imageName;

            let imgn = document.getElementsByTagName('p')[0].innerHTML;
            imgn = imgn.split('/');
            imageName = imgn[imgn.length-1];

            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                async: true,
                data: "{\"imgname\": \"" + imageName + "\",\"type\":\"" + pr[0].class + "\",\"score\": \"" + pr[0].score + "\"}",
                url: "/addpre"
            }).done(function (response) {
                nbr = parseInt(response);
                result(nbr);
            }).fail(function (xhr, textStatus, errorThrown) {
                result = xhr.responseText
            })
            console.log(pr[0].class)
        });
    });
</script>
</body>
</html>